extends ./layouts/common
block content
    h3 What do u want ?
    .d-flex.justify-content-center
        a.btn.btn-outline-primary.mr-2(href="/create") Add a new note
        a.btn.btn-outline-success.mr-2(href="/notes") Show all notes
