extends ../layouts/common
block content
    h2.mb-5 All notes
    .row
        each note in notes
            .col-md-3.note
                .card.text-white.mb-3(style='max-width: 18rem;' class="bg-"+note.color)
                    #overlay
                        #option-btn
                            button.btn.btn-outline-danger Delete   
                        .card-header= note.title
                        .card-body
                            p.card-text= note.content
